= form_tag account_path(1), method: :patch, remote: true
- @accounts.each do |account|
  %tr
    %td
      #{link_to account.name, account}
    %td
      #{account.balance}
    %td
      #{account.updated_at.localtime.strftime("%a %e %b %l:%M %p")}
    %td
      = submit_tag "Update"
